{# Fichier "templete" la racine de mon site #}
{% extends 'base.html.twig' %}

{# titre de la page#}
{% block title%}CV{% endblock %}

{# le css de la page#}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}


{# le contenu html de cette page#}
{% block body %}
<div class="page" id="cv">
            <h4>TECHNICIEN RESEAUX ET TELECOMS</h4>
            <div class="infor">
                <div class="info">
                    <p><strong>ABDALLAH ATTOUMANE Wahid</strong><br></p>
                    <p>Rue straborge-87741 Toulouse <br>
                    +33 7 85 54 12 04 <br>
                 attoumaneomar@gmail.com</p>
                 <p>Permis B (voiture)</p>

                </div> 

            </div>

            <div class="section">
                <h4>FORMATIONS</h4>
                <div class="sec-gauche" id="forma-gauche">
                    <p>2022-encours</p>
                    <p>2021-2022</p>

                </div>
                <div class="sec-droite">
                    <p><span class="titre">Institut Universitaire de Roanne, France</span><br>
                    Bachelor Universitaire Technologique Réseaux et Télécommunication (BUT R&T) trois ans </p>
                    <p> <span class="titre">Lycée polyvalent de Démbeni, France d'outre-mer Mayotte</span><br>
                    Baccalauréat Science Technologies Industriel du Développement Durable (STI2D) <br>
                    Spécialité Système d'Information et Numérique (SIN)</p>

                </div>

            </div>

            <div class="section">
                <h4>EXPERIENCES PROFESSIONNELLES</h4>
                 <div class="sec-gauche">
                    <div id="part-gauche">
                        <p>2022-2022<br> <span class="duree">(4 jours)</span></p>
                        <p>2022-2022<br> <span class="duree">(3 mois)</span></p>

                    </div>
                </div>
                <div class="sec-droite">
                    <p> <span class="titre">Picard</span><br>
                    Employé polyvalent, charger de faire l'inventaire et le replissage des bac</p>
                    <p><span class="titre">Madelec</span><br>Hote d'accueil, repondre les appels téléphonique, aider</p>
                    
                </div>
            </div>

            <div class="section">
                <h4>COMPETENCES</h4>
             <p>- Cliver une fibre optique<br>
                - Configurer un commutateur<br>
                - Faire un devis<br>
                - Mesurer le débit du Wi-Fi<br>
                - Identifier la liaison entre 2 câbles RJ45
             </p>
            </div>

            <div class="section">
                <h4>LANGUES ETRANGERES & COMPETENCES INFORMATIQUE</h4>
                <div class="sec-gauche">
                    <p>Anglais: <br>
                    Shimaorais: <br>
                    </p>
                    <p>informatique:</p>
                </div>
                <div class="sec-droite" id="lang-droite">
                    <div id="lang-droite-petisec">
                     <p>Bonne connaissance<br>
                        Maternelle </p>
                    </div>
                    <p>Maîtise des logiciels Excel, PowerPoint, Word. Connaissence en HTML, CSS, symfony, Visual Studio Code</p>
                </div>
                
            </div>

            <div class="section">
                <h4>CENTRES D’INTERET</h4>
                <p>- Football<br>
                   - Musique (Afro-beats)<br>
                   - Natation<br>
                   - Mangas<br>
                   - Jeux de société<br>
                   - Jeux vidéo      
                </p>
                
            </div>

        </div>
    
    
    </style>
 
<footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">BUT R&T 2022-2023, Wahidpro</div></div>
        </footer>  
{% endblock %}